# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. Julia
5. SQL
6. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Scikit learn
3. Numpy
4. Matplotlib
5. Seaborn
6. Tensorflow
7. plotly
8. Keras

Create a markdown cell with a table of Data Science tools

|**Data Science Tools**|
|-----|
|Python|
|R|
|Scala|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
a=100
b=5
x = a+b
print("sum = ",x)

sum =  105

In [ ]:
#This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60

In [12]:
hours = 200/60
print(hours)

3.3333333333333335

**Objectives:**

- Python
- Scala
- R
- Julia
- SQL

## Author

Syed Muhammad Kamran